h1{
  text-align: center;
}
body{
      background-image: url(./github css.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
