h1 {
    text-align: center;
    color: white;
}

body{
    background-image: url(./spongebobgiff.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
p{
    color: whitesmoke;
}
