h1{
  text-align: center;
  color: purple;
}
body{
  background-image: url(./best\ dad.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
p{
  color: purple;
}
